# LangChain Core
langchain
langchain-core

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

#Groq Integration
langchain-groq

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

# For community packages
langchain-community

# Output validation
pydantic

# For pdf loader
pypdf

# For progress bar display
tqdm

# For directory loader 
unstructured # Deafult
"unstructured[pdf]" # with quotes

# For SeleniumURLLoader
selenium